.cart__item {
  padding: 30px 0;
  border-top: 1px solid #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_img {
    margin-right: 20px;

    img {
      width: 89px;
      height: 123px;
    }
  }

  &_info {
    display: flex;
    align-items: center;

    width: 50%;
  }
  &_counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 34%;
  }
  &_count {
    display: flex;
    justify-content: space-between;
    align-items: center;

    b {
      font-size: 22px;
      margin: 0 10px 0 10px;
    }
  }

  &_price {
    font-size: 22px;
  }
  .btn {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    &__count {
      border: 2px solid #e34d4d;
      transition: all ease 0.2s;

      &:hover {
        background: #e34d4d;
        cursor: pointer;
        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
    &__close {
      border: 2px solid #d7d7d7;
      transition: all ease 0.2s;

      &:hover {
        background: #000;
        border-color: #000;
        cursor: pointer;
        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
  }
}

//media

@media (max-width: 762px) {
  .cart__item {
    &_counter {
      width: 40%;
    }
  }
}

@media (max-width: 650px) {
  .cart__item {
    &_counter {
      width: 45%;
    }
    &-info {
      h3 {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 600px) {
  .cart__item {
    flex-direction: column;
    &_counter {
      width: 100%;
      margin-bottom: 10px;
    }
    &_info {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 362px) {
  .cart__item {
    &_info {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
    &_counter {
      flex-direction: column;
    }
    &_count {
      justify-content: center;
      margin-bottom: 10px;
    }
    &_price {
      margin-bottom: 10px;
    }
  }
}
